<html>
  <head>
    <title>Lunadorii</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div>
      <div style="Margin:0px auto;max-width:600px;">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width:100%;"
        >
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0px 0;text-align:center;vertical-align:top;">
                <div
                  class="mj-column-per-60 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td
                        align="left"
                        style="font-size:0px;padding:10px 25px;word-break:break-word;"
                      >
                        <div style="font-family:Roboto, Helvetica, sans-serif;font-size:10px;font-weight:300;line-height:24px;text-align:left;color:#616161;">
                          “PT Lunadorii Utama Indonesia”
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div
                  class="mj-column-per-40 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td
                        align="right"
                        style="font-size:0px;padding:10px 25px;word-break:break-word;"
                      >
                        <!-- <div style="font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:right;color:#616161;">
                          Lunadorii
                        </div> -->
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="Margin:0px auto;max-width:600px;">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width:100%;">
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top;">
                <div
                  class="mj-column-per-100 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%">
                    <tr>
                      <td
                        align="center"
                        style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <table
                          align="center"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                          style="border-collapse:collapse;border-spacing:0px;">
                          <tbody>
                            <tr>
                              <td style="width:550px;">
                                <a
                                  href="https://lunadorii.com"
                                  target="_blank">
                                  <img
                                    height="auto"
                                    src="https://s3-ap-southeast-1.amazonaws.com/lunadorii-dev/email/lunadorii-customer-service.jpg"
                                    style="border:0;display:block;outline:none;text-decoration:none;width:100%;"
                                    width="550"
                                  />
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="Margin:0px auto;max-width:600px;">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width:100%;"
        >
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top;">
                <div
                  class="mj-column-per-100 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td
                        align="center"
                        style="font-size:0px;padding:10px 25px;word-break:break-word;"
                      >
                        <!-- <div style="font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:center;color:#616161;">
                          [ini subjectnya]
                        </div> -->
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="Margin:0px auto;max-width:600px;">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width:100%;"
        >
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top;">
                <div
                  class="mj-column-per-45 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td
                        align="center"
                        style="font-size:0px;padding:0px;word-break:break-word;"
                      >
                        <!-- <div style="font-family:Roboto, Helvetica, sans-serif;font-size:18px;font-weight:500;line-height:24px;text-align:center;color:#616161;">
                          [ini tanggalnya]
                        </div> -->
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="Margin:0px auto;max-width:600px;">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width:100%;"
        >
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0px;padding-top:0px;text-align:center;vertical-align:top;">
                <div
                  class="mj-column-per-100 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td
                        align="left"
                        style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <div style="font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161;">
                          <p>Hallo, Rendi Simamora</p>
                          <p>
                          We have received your request to reset the Lunadorii account password. Please click the button bellow to continues
                          </p>
                        </div>
                        <div style="text-align:center;">
                          <a href="{{token}}" style="background:#D11E48; padding:10px; width: 200px; height: 50px; cursor: pointer; border: none;color: #fff; font-weight: bold; font-size: 18px; ">
                            Reset Password
                          </a>
                        </div>
                        <div style="font-family:Roboto, Helvetica, sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161;">
                          <p>
                            Ignore this email if you never ask to reset the password
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="Margin:0px auto;max-width:600px;">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width:100%;"
        >
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top;">
                <div
                  class="mj-column-per-11 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td
                        align="left"
                        style="font-size:0px;padding:10px 25px;padding-right:0px;padding-left:25px;word-break:break-word;"
                      >
                        <table
                          align="left"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                          style="border-collapse:collapse;border-spacing:0px;"
                        >
                          <tbody>
                            <tr>
                              <td style="width:41px;" />
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>

                <div
                  class="mj-column-per-89 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td
                        align="left"
                        style="font-size:0px;padding:0 25px;word-break:break-word;"
                      />
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="Margin:0px auto;max-width:600px;">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width:100%;"
        >
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top;">
                <div
                  class="mj-column-per-100 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                >
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <p style="border-top:solid 1px #E0E0E0;font-size:1;margin:0px auto;width:100%;" />
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="Margin:0px auto;max-width:600px;">
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width:100%;"
        >
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top;">
                <div
                  class="mj-column-per-100 outlook-group-fix"
                  style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="vertical-align:top;"
                    width="100%"
                  >
                    <tr>
                      <td
                        align="left"
                        style="font-size:0px;padding:10px 25px;word-break:break-word;"
                      >
                        <table
                          align="left"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                          style="border-collapse:collapse;border-spacing:0px;"
                        >
                          <tbody>
                            <tr>
                              <td style="width:100%;">
                                <a
                                  href="https://lunadorii.com"
                                  target="_blank">
                                  <img
                                    height="auto"
                                    src="https://s3-ap-southeast-1.amazonaws.com/lunadorii-dev/email/lunadorii-logo.png"
                                    style="border:0;display:block;outline:none;text-decoration:none;width:150px; margin-top:10px;"
                                  />
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
